.cart {
  background: url("../assets/plain_background.png") no-repeat center center;
  background-size: cover;
  font-family: "Roboto Slab", serif;
  margin-top: 80px;
  padding: 20px;
}
.cart .cart-container {
  display: flex;
  gap: 20px;
  padding: 0px;
  align-items: center;
}
.cart .cart-container .order-container {
  font-weight: bolder;
  padding: 10px;
  border-radius: 5px;
  background-color: #eee;
  box-shadow: 0 0 10px #bb521f;
  width: 70%;
  overflow-x: scroll;
}
.cart .cart-container .order-container table {
  width: 100%;
  border-collapse: collapse;
  overflow: 600px;
}
.cart .cart-container .order-container table th,
.cart .cart-container .order-container table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  color: #555555;
  font-size: 14px;
}
.cart .cart-container .order-container table th span,
.cart .cart-container .order-container table td span {
  margin: 0 5px;
}
.cart .cart-container .order-container table th {
  color: #bb521f;
  font-weight: bolder;
  font-size: clamp(0.75rem, 0.3039rem + 0.9281vw, 1rem);
}
.cart .cart-container .order-container .product-image {
  max-width: clamp(4.375rem, 1.0296rem + 6.9606vw, 6.25rem);
  max-height: clamp(4.375rem, 1.0296rem + 6.9606vw, 6.25rem);
  border: 2px solid white;
  border-radius: 5px;
}
.cart .cart-container .paymentInfo {
  width: 30%;
  text-align: center;
}
.cart .cart-container .paymentInfo .team_payment {
  box-shadow: 0 4px 8px 0 #bb521f;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;
  background-color: white;
  color: #4d4c4c;
  padding: 12px 10px;
  display: flex;
  flex-direction: column;
}
.cart .cart-container .paymentInfo .team_payment h2 {
  color: #bb521f;
  text-shadow: 2px 2px 5px #eee;
  font-size: clamp(1.3125rem, 0.8664rem + 0.9281vw, 1.5625rem);
  margin-bottom: 10px;
}
.cart .cart-container .paymentInfo .team_payment h4 {
  margin: 10px 0;
  font-size: 15px;
}
.cart .cart-container .paymentInfo .team_payment .checkout-button {
  font-family: "Roboto Slab", serif;
  background-image: linear-gradient(135deg, #ff3131 40%, #ff914d);
  color: #FFFFFF;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid transparent;
  box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
  padding: 5px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-decoration: none;
  margin-left: 10px;
}
.cart .cart-container .paymentInfo .team_payment .checkout-button:hover {
  color: yellow;
  border: 1px #ea6d27 solid;
  background-color: #ffffff;
  cursor: pointer;
}

.delete-icon {
  font-size: 20px;
  color: red;
  vertical-align: middle;
  cursor: pointer;
}

.quantity-btn {
  border: 1px solid #bb521f;
  border-radius: 3px;
  background-color: #bb521f;
  color: #eee;
  font-weight: bolder;
  padding: 8px;
}

.emptycart h4 {
  color: #bb521f;
  font-size: 35px;
}

@media (max-width: 768px) {
  .cart {
    margin-top: 70px;
  }
  .cart .cart-container {
    flex-direction: column;
  }
  .cart .cart-container .order-container {
    width: 100%;
  }
  .cart .cart-container .order-container .product-image {
    max-width: clamp(3.75rem, 1.6567rem + 9.5694vw, 6.25rem);
    max-height: clamp(3.75rem, 1.6567rem + 9.5694vw, 6.25rem);
  }
  .cart .cart-container .paymentInfo {
    width: 100%;
  }
}/*# sourceMappingURL=Cart.css.map */