.reserve {
  font-family: "Roboto Slab", serif;
  background: url("../assets/plain_background.png") repeat center center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}
.reserve .add {
  width: 100%;
}
.reserve .add .reservetoday .reserve-col {
  margin-top: 60px;
}
.reserve .add .reservetoday .reserve-col .booktable_header {
  color: #bb521f;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.reserve .add .reservetoday .reserve-col .booktable_header h3 {
  font-size: 25px;
}
.reserve .add .reservetoday .reserve-col .booktable_header .booktable_icon {
  color: #bb521f;
  font-size: 1.5em;
}
.reserve .add .reservetoday .reserve-col .booktable_subheader {
  color: #bb521f;
}
.reserve .add .reservetoday .reserve-col .booktable_subheader p {
  font-size: 17px;
  text-align: center;
  margin: 0;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px 0;
  box-sizing: border-box;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 15px;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .left-side {
  margin-right: 5px;
  width: 50%;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .left-side label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: #bb521f;
  text-align: left;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .left-side input {
  padding: 8px;
  margin-top: 5px;
  border: 2px solid #bb521f;
  border-radius: 8px;
  font-size: clamp(0.8125rem, 0.7243rem + 0.2941vw, 1rem);
  font-family: "Roboto Slab", serif;
  color: #4d4c4c;
  height: 20px;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .left-side input::-moz-placeholder {
  color: #737373;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .left-side input::placeholder {
  color: #737373;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side {
  width: 50%;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side label {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  color: #bb521f;
  text-align: left;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side label textarea {
  padding: 8px;
  margin-top: 5px;
  border: 2px solid #bb521f;
  border-radius: 8px;
  font-size: clamp(0.8125rem, 0.7243rem + 0.2941vw, 1rem);
  color: #bb521f;
  height: 250px;
  font-family: "Roboto Slab", serif;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side label textarea::-moz-placeholder {
  color: #737373;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side label textarea::placeholder {
  color: #737373;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side .reservation-buttons {
  display: flex;
  gap: 10px;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side .reservation-buttons .add-btn {
  width: 50%;
  padding: 5px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
  border: 2px solid #ff914d;
  border-radius: 10px;
  background-image: linear-gradient(144deg, #ff3131, #ff914d);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}
.reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side .reservation-buttons .cancel-btn {
  width: 50%;
  padding: 5px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
  font-size: 15px;
  color: #fff;
  text-align: center;
  border: 2px solid #ff914d;
  border-radius: 10px;
  background-image: linear-gradient(144deg, #ff3131, #ff914d);
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
}

.error {
  width: 310px;
  color: red;
  font-size: 14px;
}

@media (max-width: 768px) {
  .reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side .reservation-buttons {
    flex-direction: column;
  }
  .reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side .reservation-buttons .add-btn,
  .reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side .reservation-buttons .cancel-btn {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .reserve {
    height: 100%;
  }
  .reserve .add .reservetoday .reserve-col {
    margin-top: 70px;
  }
  .reserve .add .reservetoday .reserve-col .booktable_header {
    gap: 10px;
  }
  .reserve .add .reservetoday .reserve-col .booktable_header .booktable_icon {
    font-size: clamp(1.25rem, 0.5769rem + 3.0769vw, 1.5rem);
  }
  .reserve .add .reservetoday .reserve-col .booktable_header h3 {
    font-size: clamp(1.25rem, 0.5769rem + 3.0769vw, 1.5rem);
    margin: 15px 0;
  }
  .reserve .add .reservetoday .reserve-col .booktable_subheader p {
    font-size: clamp(0.875rem, 0.3702rem + 2.3077vw, 1.0625rem);
  }
  .reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form {
    flex-direction: column;
    gap: 0;
  }
  .reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .left-side {
    width: 100%;
  }
  .reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .left-side label {
    margin-bottom: 10px;
  }
  .reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side {
    width: 100%;
  }
  .reserve .add .reservetoday .reserve-col .reservation-form-container .reservation-form .right-side label {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=Reserve.css.map */